
*{
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}


body {
    background-color: #0a0533;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}



/*
.logo{
    position: absolute;
    z-index: 105;
    width: 60px;
    left: 10px;
}

.logo-main-menu{
    filter :invert(1);
    width: 100%;
}
*/
.toggle-menu img{
    width: 40px;
}

.toggle-menu{
    position: fixed;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: flex-end;
    z-index: 100;
    cursor: pointer;
    filter :invert(1);
    width: 40px;
}

.main-menu{
    position: relative;
    z-index: 80;
    width: 100%;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #333;
    align-items: center;
    transition: all 550ms;
    transform: translatey(-100%);

}

.main-menu-i{
    position: relative;
    z-index: 80;
    width: 100%;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #333;
    align-items: center;
    transition: transform 0.2s;
    transform: translatey(-75%);
    opacity: 0.8;
}

.main-menu--show{
    transform: translateY(0px);
    opacity: 1;
    position: fixed;
    width: 100%;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #333;
    align-items: center;
}

.main-menu_item{
    text-align: center;
    padding: 16px;
    width: 100%;
}

.main-menu_item:hover{
    background-color: #252525;
}

.main-menu_link{
    color: white;
    text-transform: uppercase;
    text-decoration: none;

}

/*header*/

.fondo-img{
    height: 100%;
    width: 100%;
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 20%;
    background-size: cover;
    position: absolute;

}

.body{ 
    background-position: center;
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    background-attachment: fixed;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    position: relative;
    color: #ffffff;
}

.header--show{
    transform: translateY(200px);
}

.bienvenidaBox{
    width: 150px;
    display: flex;
    flex-direction: column;
}


.bienvenidaBox .bienvenidos{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin:0;
    animation: movimiento 2.5s linear infinite;
}

.bienvenidaBox .bienvenidaBox-name{
    font-size: 18px;
    font-weight: bold;
    margin:0 0 50px 0;
    animation: movimiento 2.5s linear infinite;
}

.wave{
    position:absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 70px;
    opacity: 0.8;
}

.icono-auto{
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b00894d;
    border-radius: 100%;
    transform: translateY(20px);
    animation: movimiento 2.5s linear infinite;
}

.icono-auto img{
    width: 140px;
}

.btn-neon{
    padding: 10px;
    width: min-content;
    color: #fff;
    background-color: #25087bcd;
    border-radius: 15px;
    letter-spacing:3px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.1s;
    animation: movimiento 2.5s linear infinite;
}

/*keyframes*/

@keyframes movimiento {
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(30px);
    }

    100%{
        transform: translateY(0);
    }
}

.btn-neon:hover{
    background: #24087b;
    box-shadow: 0 0 10px #0b0089, 0 0 20px #000078;
    transition-delay: 0.1s;
 }


/*inicio*/
/*buscador de provincia*/

::-webkit-scrollbar{
    width: 15px;
}

#listaArticulos::-webkit-scrollbar{
    height: 8px;
}

#listaArticulos::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 50px;
}

::-webkit-scrollbar-track{
    background: #333;
}

::-webkit-scrollbar-thumb{
    background: #202020;
    border-radius: 50px;
}


#contenedor-main .div-list{
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#contenedor-main{
    position: fixed;
    z-index: 70;
    width: 100%;
    transform: translateY(-148px);
}

#buscador{
    padding: 7px;
    width: 20px;
    filter: invert(1);
}

#listaArticulos{
    width: 72%;
    height: 40px;
    overflow: auto;
    font-size: 15px;
    list-style: none;
    flex-direction: row;
    display: flex;
    gap: 45px;
}

.articulo{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

li a{
    color: #fff; 
    width: max-content;
    text-decoration: none;
    scroll-behavior: smooth;
}

.articulo:hover{
    background: #c0c0c0;
}

/*



*/
/*container-events*/

.provincia{
    color: #ffffff;
    background-color: #110c4a;
    opacity: 0.7;
    border-radius: 100px;
    font-size: 20px;
    margin-bottom: 30px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container-cards{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-cards--show{
    transform: translateY(150px);
}

.card{
    border-radius: 10px;
    display: flex;
    margin-bottom: 30px;
    width: 45%;
    height: 400px;
    box-shadow: 0 0 50px #000000;
    overflow: hidden;
    transition: 0.5s;
}

.card:hover{
    width: 90%;
}

.card .imgbox{
    width:60vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .imgbox .img{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 45vw;
    filter: none;
    height: 140px;
}

.map-pin{
    height: 15px;
    filter: invert(1);
}

.calendar{
    height: 15px;
    filter: invert(1);
}

.dollar-sign{
    height: 15px;
    filter: invert(1);
}

.card .detalles{
    width: 55%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    color: #fff;
}

.card .detalles::before{
    content:"";
    position: absolute;
    transform: translatey(13px);
    left: -0;
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent ;
    border-top: 10px solid transparent ;
    border-left: 10px solid #fff ;
}

.card .detalles div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.card .detalles .name{
    font-size: 13px;
    text-transform: uppercase;
}

.card .detalles .descripcion{
    font-weight: 120px;
    font-size: 12px;
}

.card .detalles .fecha{
    font-weight: 140px;
    font-size: 11px;
}

.card .detalles .precio{
    font-weight: 140px;
    font-size: 12px;
}

.detalles .btn-ig{
    text-transform: uppercase;
}

.detalles .btn-ig a{
    text-decoration: none;
    border-radius: 50px; 
    border-radius: 10px;
    color: #333;
    background-color: #fff;
    padding:4px;
}

#card100 .imgbox .img{
    background-image: url(img/eventos/streets_cars_federacion.png);
}

#card10 .imgbox .img{
    background-image: url(img/eventos/alvearonlycars2k23.png);
}

#card15 .imgbox .img{
    background-image: url(img/eventos/japan_meet_solidarios.png);
}

#card20 .imgbox .img{
    background-image:url(/img/eventos/nyf_cars.png);
}

#card30  .imgbox .img{
    background-image:url(/img/eventos/lowstyle_alberti.png);
}

#card35  .imgbox .img{
    background-image:url(/img/eventos/vidalalpisooficial.png);
}

#card36 .imgbox .img{
    background-image: url(/img/eventos/sanvialcorte.png);
}


#card37 .imgbox .img{
    background-image: url(/img/eventos/ourworldshowcar.png);
}

#card40 .imgbox .img{
    background-image:url(/img/eventos/azulshowcar.png);
}

#card45 .imgbox .img{
    background-image:url(/img/eventos/exposhowcarjunin.png);
}

#card50 .imgbox .img{
    background-image:url(/img/eventos/autosbajosmultimarca.png);
}

#card60 .imgbox .img{
    background-image:url(/img/autos.arg.png);
}

#card70 .imgbox .img{
    background-image:url(/img/volando_.png);
}

#card200 .imgbox .img {
    background-image: url(img/eventos/carcamotorshow.png);
}

/*sobre nosotros*/

.sobrenosotros {
    position: relative;
    width: 100%;
}

.sobrenosotros--show {
    background-color: red;
}

.sobrenosotros .container-sn{
    color:#fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: 2px;
    font-size: 13px;
    padding: 30px;
    gap: 10px;
    transform: translateY(-100px);
}

.perfil img{
    width: 220px;
    height: 220px;
    border-radius: 100%;
}

.container-p{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-info{
    display: flex;
    flex-direction: column;
    gap:50px;
    height: max-content;
}

.icono{
    width: 40px;
    height: 40px;
}

.icono img{
    width: 40px;
    height: 40px;
    opacity: 1;
    filter: invert(1);
}

.container-info p{
    font-weight: bold;
    font-size: 13px;
    transition: 0.5s;
}



.info3 a {
    text-decoration: none;
    color: #fffcfc;
    box-shadow: 0 0 10px #000000, 0 0 20px #000000;
}

.info1 a {
    text-decoration: none;
    color: #fffcfc;
    box-shadow: 0 0 10px #000000, 0 0 20px #000000;
}

.info1{
    display: none;
}

.info2{
    display: none;
}

.info3{
    display: none;
}

.info1--show{
    display: block;
}

.info2--show{
    display: block;
}

.info3--show{
    display: block;
}
/*version responsive*/

@media screen and (min-width:410px) {

    .header{
        transform: translateY(20%);
    }

    .bienvenidaBox{
        width: 150px;
    }
    
    .bienvenidaBox .bienvenidos{
        font-size: 20px;
    }
    
    .bienvenidaBox .bienvenidaBox-name{
        font-size: 15px;
    }

    .icono-auto{
        width: 110px;
        height: 110px;
    }
    
    .icono-auto img{
        width: 110px;
    }
    
    .container-cards{
        display: flex;
        flex-direction: column;
    }


    .card{
        width: 200px;
        height: 400px;
    }
    
    .card:hover{
        width: 400px;
    }
    
    .card .imgbox{
        width: 200px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card .imgbox .img{
        width: 200px;
        height: 140px;
    }
    

    /*buscador de provincias*/

    #listaArticulos{
        width: 75%;
    }
    


}

@media screen and (min-width:700px) {
    
    /*menu*/
    .main-menu_item2{
        display: none;
    }

    .main-menu{
        flex-direction: row;
        justify-content: space-around;
        transform: translate(0);
        position: fixed;
    } 

    .main-menu-i{
        flex-direction: row;
        justify-content: flex-end;
        transform: translate(0);
    }
    
    .toggle-menu{
        display: none;
    }

    .main-menu_link{
        font-size: 13px;
    }

    .wave{
        height: 120px;
    }

    /*buscador de provincias*/

    #contenedor-main .div-list{
        gap: 30px;
    }
    
    #contenedor-main{
        position: fixed;
        width: 99%;
        transform: translateY(50px);
    }

    #listaArticulos{
        width: 100%;
    }
    
    
    .articulo{
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;    
    }
    
    

    /*index*/

    .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 0 10%;
        font-size: x-large;
    }

    .bienvenidaBox .bienvenidos{
        text-transform: uppercase;
        font-size: 40px;
        font-weight: bold;
    }
    
    .bienvenidaBox .bienvenidaBox-name{
        font-size: 33px;
        font-weight: bold;
        margin:0 0 50px 0;
    }

    .icono-auto{
        width: 300px;
        height: 300px;
        transform: translateY(20px);
    }

    .icono-auto img{
        width: 300px;
    }

    .btn-neon{
        padding: 10px;
        width: 230px;
        text-align: center;
    }

    /*contenedro cards*/
    .provincia{
        margin-top: 100px;
    }

    body .container-cards{
        display: flex;
        flex-direction: column;
        gap: 30px;
 
    }

    .card{
        align-items: center;
        width: 300px;
        height: 360px;
        transition: 0.5s;
    }
    
    .card:hover{
        width:550px ;
    }
    
    .card .imgbox{
        min-width: 300px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .card .imgbox img{
        width: 80%;
        filter: none;
    }

    .card .detalles div{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3px;
    }
    
    .card .detalles{
        min-width: 300px;
        display: flex;
        flex-direction:column;
        width: 70%;
        gap: 5px;
        height: 100%;

    }

    .card .detalles::before{
        transform: translateY(25px);
    }
    
    .card .detalles .name{
        width: 70%;
        font-size: 20px;
    }
    
    .card .detalles .descripcion{
        font-weight: 200px;
        width: 70%;
        font-size: 14px;
    }
    
    .card .detalles .fecha{
        font-weight: 200px;
        width: 70%;
    }
    
    .detalles .precio{
        font-size: 15px;
        width: 140px;
    }
    
    
    .sobrenosotros .container-sn{
        letter-spacing: 4px;
        transform: translateY(0);
    }


    .perfil {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .perfil img{
        border-radius: 100%;
    }
    
    .container-info div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .container-info p{
        font-weight: bold;
        font-size: 13px;
    }
    

    .container-sn div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info{
        width: 500px;
        padding: 50px;
    }
    
    

}

@media screen and (min-width:1200px){


    .card{
         height: 360px;
    }

    body .container-cards{
        display: flex;
        flex-direction: colum;
        flex-wrap: wrap;
        gap: 70px;
        justify-content: space-around;
        transform: translateY(30px);
    }


    @media screen and (min-width:1400px){
        body .container-cards{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: 1fr;
            gap: 70px;
            justify-content: space-around;
            transform: translateY(30px);
        }
       
    }
    
}
